{% extends "bands/base.html" %}
{% load static %}

{% block headblock %}
  <title>Entries</title>
  <link rel="stylesheet" href="{% static 'bands/stylesheets/search.css' %}" type="text/css" />
  <!-- jQuery library -->
  <script src="{% static 'bands/js/jquery-3.2.1.js' %}"></script>
  <!-- Latest compiled Bootstrap JavaScript -->
  <script src="{% static 'bands/js/bootstrap.js' %}"></script>
  <!-- MustacheJS -->
  <script src="{% static 'bands/js/mustache.js' %}"></script>
  <!-- Search (API) -->
  <script src="{% static 'bands/js/search_entries.js' %}?version=1.1"></script>
{% endblock %}

{% block bodyblock %}
  <div class="container">
  <!-- Search field -->
  <nav class="navbar">
    <div class="text-center">
        <form id="id_search_form" class="navbar-form" role="search">
            <div class="input-group">
            <div class="row">
                <select class="form-control" id="id_search_mode" name="search_mode" required>
                  <option disabled>Choose field...</option>
                  <option selected value="100">Artists: number of members</option>
                  <option value="101">Albums: number of tracks</option>
                  <option value="102">Songs: number in album</option>
                </select>

                <input id="id_search_query_min" name="search_query_min" type="number" min="0" class="form-control" placeholder="From" required>
                <input id="id_search_query_max" name="search_query_max" type="number" min="0" class="form-control" placeholder="To" required>

                <div class="input-group-btn">
                  <input type="submit" class="btn btn-search btn-default" value="Search">
                </div>
            </div>
            </div>
        </form>
    </div>
  </nav>

  <br>

  <div id="search_result">
      <div class="text-center">
          <h3>Please, perform some "Search" action to show entries.</h3>
      </div>
  </div>
  </div>

  {% verbatim %}
  <script id="search_script" type="x-tmpl-mustache">
      <div id="search_result">
        <div class="panel panel-default">
        <div class="panel-heading"><b>Entries</b></div>
        {{ ^empty }}
            <div class="table-responsive">
            <table class="table table-bordered table-striped">
              <thead>
              <tr>
                  {{ #columns_infoes }}
                    <th>{{ 0 }}</th>
                  {{ /columns_infoes }}
              </tr>
              </thead>
              <tbody>
                {{ #artists }}
                  <tr>
                    <td>{{ 0 }}</td>
                    <td>{{ 1 }}</td>
                    <td>{{ 2 }}</td>
                    <td>{{ 3 }}</td>
                  </tr>
                {{ /artists }}
                {{ #albums }}
                  <tr>
                    <td>{{ 0 }}</td>
                    <td>{{ 1 }}</td>
                    <td>{{ 2 }}</td>
                    <td>{{ 3 }}</td>
                  </tr>
                {{ /albums }}
                {{ #songs }}
                  <tr>
                    <td>{{ 0 }}</td>
                    <td>{{ 1 }}</td>
                    <td>{{ 2 }}</td>
                  </tr>
                {{ /songs }}
              </tbody>
            </table>
            </div>
        {{ /empty }}
        {{ #empty }}
            <div class="panel-body"><b>There are no such entries.</b></div>
        {{ /empty }}
        </div>
      </div>
  </script>
  {% endverbatim %}
{% endblock %}